<!DOCTYPE html>
<html lang="en-us">
    {% include head.html %}
    <body>
        {{ content }}
        <script type="text/javascript" id="cookieinfo"
	        src="https://cookieinfoscript.com/js/cookieinfo.min.js"
            data-moreinfo="privacy.html"
            data-close-text="Okay"
            data-message="We use cookies."
            data-linkmsg="Learn more."
            data-text-align="right"
            data-divlinkbg="#0066FF"
            data-link="#36B470"
            data-divlink="#FFFFFF"
            data-bg="#00000000"
            data-fg="#808080"
            >
        </script>
    </body>
</html>
